header{
    background-image:url(assets/night\ time\ starry\ sky\ background\ 0611.jpg);
    background-size: 100vw 100vh;
    background-position: center;
    height: 600px; 
}

@media screen and (max-width: 600px) {
    header{
        height: 400px;;
    } 
    
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .details-content {
    max-width: 600px;
    text-align: left;
    padding-right: 25px;
    font-size: 35PX;
  }
  
  .aboutclass h3 {
    color: white;
    font-size: 24px;
  }
  
  .details-content p {
    color: white;
  }
  
  .aboutclass h2 {
    color: white;
    font-size: 42px;
  }

  @media (max-width: 768px) {
    .row-container {
      flex-direction: column;
      align-items: center;
    }

  
    .circular-image {
      margin-right: 0; 
      margin-bottom: 10px; 
    }
    .picture-content{
        flex-direction: row;
    }
  }
  
  /* Existing styles below this comment */
h2{
    font-size: 50px;
  }

  .codecontent{
    padding: 50px 0 50px 0;
    margin: 54px;
    color: white;
  }

  .codecontent p, h3{
    font-family: 'Roboto Mono', monospace;;
  }

  .welcomecontent{
    padding-bottom: 25px;
  }
  p{
    font-family: 'Protest Strike', sans-serif;
  }



  .picturecontent{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    object-fit: contain;
}

  .content-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px; 
  }

  .side-image {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px;
    object-fit: cover; 
  }
  .text-content {
    max-width: 600px;
  }

  .aboutclass h2 {
    color: white;
    font-size: 42px;
  }
  @media (min-width: 768px) {
    .content-container {
      flex-direction: row; 
    }
    .side-image {
      margin-bottom: 0; 
      margin-right: 20px; 
      max-width: 100% ;
      height: 600px;
    }
    
    .picturecontent{
        flex-direction: row;
    }
  }

  @media (max-width: 428px) and (max-height: 926px) and (-webkit-device-pixel-ratio: 3) {

    .content-container {
      flex-direction: column; 
    }
  }
    .welcomecontent a:hover {
        color: brown;
    }

    /* https://developer.mozilla.org/en-US/play */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-play-state */
    .circular-image {  
        background-color: rebeccapurple;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        animation-name: rotate;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
        animation-play-state: paused;
        align-items: center;
      }
      
      .circular-image:hover {
        animation-play-state: running;
      }
      
      @keyframes rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      